openapi: 3.0.2
info:
  title: 'Transport-System'
  version: '1.0'
paths:
  /api/stops/:
    get:
      operationId: Получение Остановки
      description: 'Автобусы, проходящие через остановку'
      parameters:
        - name: name
          required: true
          in: query
          description: Поиск по названию остановки.
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StopGet'
          description: ''
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Остановки
    post:
      operationId: Создание остановки
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopCreateUpdate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/responses/EmptyResponse'
          description: 'Остановка успешно создана'
        '400':
          description: 'Ошибки валидации в стандартном формате DRF'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      tags:
      - Остановки
  /api/stops/add_distance/:
    post:
      operationId: Добавление расстояния между остановками
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopDistance'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/responses/EmptyResponse'
          description: 'Остановка успешно создана'
        '400':
          description: 'Ошибки валидации в стандартном формате DRF'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      tags:
      - Остановкl
components:
  schemas:
    StopCreateUpdate:
      type: object
      properties:
        name:
          type: string
          maxLength: 25
          example: 'Владыкино'
        latitude:
          type: number
          fromat: double
          example: 55.847983
        longitude:
          type: number
          fromat: double
          example: 37.590380
      required:
      - name
      - latitude
      - longitude

    StopGet:
      type: object
      properties:
        buses:
          type: array
          items:
            type: string
            example: 'Владыкино'
      required:
      - buses

    StopDistance:
      type: object
      properties:
        from_stop:
          type: string
          maxLength: 25
          example: 'Владыкино'
        to_stop:
          type: string
          maxLength: 25
          example: 'Семёновская'
        distance:
          type: integer
          minimum: 0
          example: 5000
          description: Расстояние в метрах. Должно быть больше либо равно реального расстояния на поверхности земли



    ValidationError:
      description: Стандартные ошибки валидации DRF
      type: object
      properties:
        field_name:
          description: 'Название поля, в котором произошли ошибки. Таких полей может быть несколько'
          example: [ 'Обязательное поле.' ]
          type: array
          items:
            type: string

    SelfMadeError:
      description: Ошибка
      type: object
      properties:
        errors:
          description: 'Описание ошибки'
          type: string

    AuthenticationError:
      description: Пользователь не авторизован
      type: object
      properties:
        detail:
          description: 'Описание ошибки'
          example: "Учетные данные не были предоставлены."
          type: string

    PermissionDenied:
      description: Недостаточно прав
      type: object
      properties:
        detail:
          description: 'Описание ошибки'
          example: "У вас недостаточно прав для выполнения данного действия."
          type: string
    NotFound:
      description: Объект не найден
      type: object
      properties:
        detail:
          description: 'Описание ошибки'
          example: "Страница не найдена."
          type: string

  responses:
    EmptyResponse:
      content:
        application/json:
          schema:
            type: object
    ValidationError:
      description: 'Ошибки валидации в стандартном формате DRF'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'

    AuthenticationError:
      description: Пользователь не авторизован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthenticationError'

    PermissionDenied:
      description: Недостаточно прав
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PermissionDenied'

    NotFound:
      description: Объект не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFound'


    403:
      description: 'Пользователь не авторизован / Недостаточно прав'
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/AuthenticationError'
              - $ref: '#/components/schemas/PermissionDenied'
  securitySchemes:
    Token:
      description: 'Авторизация по токену. <br>
      Все запросы от имени пользователя должны выполняться с заголовком "Authorization: Token TOKENVALUE"'
      type: http
      scheme: token
