name: Django-app workflow

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: | 
        # обновление pip
        python -m pip install --upgrade pip 
        # установка flake8 и его плагинов
        pip install flake8 pep8-naming flake8-broken-line flake8-return flake8-isort
        # установка зависимостей
        pip install -r backend/transport_system/requirements.txt 
    - name: Test with flake8 and pytest tests
      run: |
        # переход в папку с Django проектом
        cd backend/
        # запуск проверки проекта по flake8
        python -m flake8
        # перход в папку, содержащую папку tests - banckend/transport_system/tests/
        cd transport_system/
        # запустить написанные разработчиком тесты
        pytest

  build_and_push_to_docker_hub:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3 # Проверяет доступность репозитория DockerHub для workflow
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2 # Вызывает сборщик контейнеров docker
      - name: Login to Docker 
        uses: docker/login-action@v2 # Запуск скрипта авторизации на DockerHub
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v3 # Выполняет push образа в DockerHub 
        with:
          context: ./backend/transport_system
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/transport_system:latest
